:root {
    --green:hsl(162, 45%, 56%);
    --lead: hsl(162, 2%, 56%);
    --blue:hsl(220, 85%, 57%);
    --violet:hsl(272, 92%, 32%);
    --tex-white: hsl(0, 0%, 100%);
    --text-light-gray: hsl(0, 0%, 90%);
    --body-bg-color: hsl(198, 100%, 11%);
    --glass-bg-color: hsla(0, 0%, 100%, 0.05);
    --border-color: hsla(0,0%, 100%,0.25);
    --blur: blur(10px);
    --button-hover-color: hsla(0, 0%, 0%,0.3);
} 
*{
    box-sizing: border-box;
}
body{
  
    background-color: var(--body-bg-color);
    color:var(--text-light-gray);
    padding:0 1.5em ;

}
body::after,
body::before{
    content:'';
    position: fixed;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    z-index: -1;
    filter: blur(150px);
    opacity: 0.5;
}
body::before{
    background-color: var(--blue);
    left: 0;
    bottom: 0;
    transform: translate(-50%);
}
body::after{
    background-color: var(--violet);
    right: 0;
    top: 0;
    transform: translate(50%);
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0,0,0.1);
    border-radius: 5px;
}
.title{
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}
.buscar-input{
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0,0,0.1);
    font-size: 16px;
}
.buscar-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 20px ;
}
.buscar-btn{
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.3% ease;
}
.buscar-btn:hover{
    background-color: #555;
}
